.search {
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
}

.search input {
    border: none;
    background-color:gray;
}

.search input:focus {
    outline: none;
}